<section class="block profile profile--<%= heroName.toLowerCase().split(" ").join("-") %>">
  <div class="block__wrapper">
    <h3 class="profile__title">Profile</h3>
    <div class="profile__container">
      <div class="profile__left">
        <div class="profile__entry">
          <span class="profile__label">Place of birth:</span>
          <span class="frofile__text"><%= placeOfBirth %></span>
        </div>
        <div class="profile__entry">
          <span class="profile__label">Gender:</span>
          <span class="frofile__text"><%= gender %></span>
        </div>
        <div class="profile__entry">
          <span class="profile__label">Age:</span>
          <span class="frofile__text"><%= age %></span>
        </div>
        <div class="profile__entry">
          <span class="profile__label">Occupation:</span>
          <span class="frofile__text"><%= occupation %></span>
        </div>
        <div class="profile__entry">
          <span class="profile__label">Likes:</span>
          <span class="frofile__text"><%= likes %></span>
        </div>
      </div>
      <div class="profile__right">
        <div class="profile__entry">
          <span class="profile__label">Height:</span>
          <span class="frofile__text"><%= height %> cm</span>
        </div>
        <div class="profile__entry">
          <span class="profile__label">Weight:</span>
          <span class="frofile__text"><%= weight %> kg</span>
        </div>
        <div class="profile__entry">
          <span class="profile__label">Hair:</span>
          <span class="frofile__text"><%= hair %></span>
        </div>
        <div class="profile__entry">
          <span class="profile__label">Eyes:</span>
          <span class="frofile__text"><%= eyes %></span>
        </div>
        <div class="profile__entry">
          <span class="profile__label">Dislikes:</span>
          <span class="frofile__text"><%= dislikes %></span>
        </div>
      </div>
    </div>
  </div>
</section>
