<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <title>Coffeeman</title>
  </head>
  <body>
    <%- include('../../shared/components/header/header') %>

    <%- include('../../shared/components/hero/introduction/introduction.ejs',
      {
        realName: 'Mykhailo Kostiuk',
        heroName: 'Coffeeman',
        introText: 'Experienced supporting hero, who is welcome to any team.'
      })
    %>

    <%- include('../../shared/components/hero/superhero/superhero.ejs', 
      { 
        heroName: 'Coffeeman',
        quote: 'No one is going to sleep tonight until we\'re done.',
        story: `Born and raised on the planet Aromakava which is 99% covered
          with coffee plantations, knows everything about coffee. Has a gift
          to turn any liquid into hot coffee. He plays a key role in
          confronting the Bugman, as he supplies his team with endless
          cups of coffee without what it is literally impossible to defeat
          the Bugman and meet the deadline. Due to the enourmous concentration
          of caffeine in his body he never sleeps and can sometimes hallucinate
          and attack his teammates by spilling coffee on their pants.`,
        imagePath: '../../images/heroes/coffeeman-hp.png'
      })
    %>
    
    <%- include('../../shared/components/hero/profile/profile.ejs',
      { 
        heroName: 'Coffeeman',
        placeOfBirth: `Planet Aromakava`,
        gender: 'Male',
        age: '29',
        occupation: 'Barista',
        likes: 'Dogs, Spiders, Rum',
        height: '183',
        weight: '78',
        hair: 'Light Brown',
        eyes: 'Grey',
        dislikes: 'Noise, Heat, Radish'
      })
    %>
    
    <%- include('../../shared/components/hero/connections/connections.ejs',
      {
        connectionType: 'Allies',
        heroesList: [`Captain Maven`, `Serverman`, `Web Storm`, `Black Window`]
      })
    %>

    <%- include('../../shared/components/hero/contacts/contacts.ejs',
      {
        heroName: 'Coffeeman',
        social: 
          { linkedIn: 'https://www.linkedin.com/in/mikhail-kostiuk-28a915bb/',
            github: 'https://github.com/mikhail-kostiuk'
          }
      })
    %>
  </body>
</html>
