<section class="block introduction introduction--<%= heroName.toLowerCase().split(" ").join("-") %>">
  <div class="block__wrapper">
    <div class="introduction__container">
      <div class="introduction__background introduction__background--<%= heroName.toLowerCase().split(" ").join("-") %>"></div>
      <div class="introduction__main">
        <span class="introduction__real-name"><%= realName %></span>
        <h2 class="introduction__hero-name"><%= heroName %></h2>
        <p class="introduction__text">
          <%= introText %>
        </p>
      </div>
    </div>
  </div>
</section>
