<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
            rel="stylesheet"
    />
    <title>Serverman</title>
</head>
<body>

<%- include('../../shared/components/hero/introduction/introduction.ejs',
    {
        realName: 'Ihor Kozlinskyi',
        heroName: 'Serverman',
        introText: 'The hero that is going to watch your back.'
    })
%>

<%- include('../../shared/components/hero/superhero/superhero.ejs',
    {
        heroName: 'Serverman',
        quote: 'With great power comes great RESTponsibility',
        story: `Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos,
        placeat necessitatibus deserunt in ut cupiditate consequatur magnam alias
        earum ex sint officia, quae numquam quo! Natus veritatis repellendus fuga
        animi iure vel in eum, dolorem fugit aliquid error voluptatibus tempore sed
        reiciendis dignissimos numquam nostrum sint repellat cupiditate. Expedita
        eaque, repudiandae cumque sed cum maiores aliquam possimus sapiente optio
        vero exercitationem nesciunt maxime dolorem iusto qui mollitia. Neque,
        distinctio harum?`,
        imagePath: '../../images/heroes/coffeeman-hp.png'
    })
%>

<%- include('../../shared/components/hero/profile/profile.ejs',
    {
        heroName: 'Serverman',
        placeOfBirth: `The Earth, Back-End city`,
        gender: 'Male',
        age: '23',
        occupation: 'The ',
        likes: 'Long walks, quet nights, ',
        height: '184',
        weight: '72',
        hair: 'Light Brown',
        eyes: 'Green',
        dislikes: 'Corrupted data, '
    })
%>

<%- include('../../shared/components/hero/connections/connections.ejs',
    {
        connectionType: 'Allies',
            heroesList: [`Captain Maven`, `Serverman`, `Web Storm`, `Black Window`]
        })
        %>

        <%- include('../../shared/components/hero/contacts/contacts.ejs',
            {
            heroName: 'Coffeeman',
            social: { linkedIn: 'https://www.linkedin.com/in/mikhail-kostiuk-28a915bb/',
                github: 'https://github.com/mikhail-kostiuk'
            }
    })
%>
</body>
</html>
