<div class="power">
    <div class="power__icon">
        <img class="power__image" src="../../images/icons/<%= iconName %>" alt="<%= powerName %>">
    </div>
    <div class="power__hover">
        <div class="power__title power__title--<%= hero %>"><%= powerName %></div>
        <div class="power__description"><%= powerDescription %></div>
    </div>
</div>