<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <title>Black Window</title>
  </head>
  <body>

  <%- include('../../shared/components/header/header') %>


    <%- include('../../shared/components/hero/introduction/introduction.ejs',
      {
        realName: 'Yulia Chornenka',
        heroName: 'Black Window',
        introText: 'Bugs identificator, who is welcome at any team'
      })
    %>

    <%- include('../../shared/components/hero/superhero/superhero.ejs', 
      { 
        heroName: 'Black Window',
        quote: 'You can find any bug with my help.',
        story: ``,
        imagePath: '../../images/heroes/black-window-hp.png'
      })
    %>

    <%- include('../../shared/components/hero/profile/profile.ejs',
      { 
        heroName: 'Black Window',
        placeOfBirth: `Planet Terminal`,
        gender: 'Female',
        age: '26',
        occupation: 'Problem Identificator',
        likes: 'Labradors, Salted caramel, Cartoons',
        height: '156,5',
        weight: '99',
        hair: 'Black',
        eyes: 'Black',
        dislikes: 'Olives, Corn, Noise'
      })
    %>


    <%- include('../../shared/components/hero/connections/connections.ejs',
      {
        connectionType: 'Allies',
        heroesList: [`Captain Maven`, `Serverman`, `Web Storm`, `Coffeeman`]
      })
    %>

    <%- include('../../shared/components/hero/contacts/contacts.ejs',
      {
        heroName: 'Black Window',
        social: 
          { linkedIn: 'https://www.linkedin.com/in/yulia-chornenka-9570151a4/',
            github: 'https://github.com/Yuliia-Chornenka'
          }
      })
    %>

  <%- include('../../shared/components/footer/footer') %>

  </body>
</html>
