<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <title>Black Window</title>
  </head>
  <body>

  <%- include('../../shared/components/header/header') %>


    <%- include('../../shared/components/hero/introduction/introduction.ejs',
      {
        realName: 'Yulia Chornenka',
        heroName: 'Black Window',
        introText: 'Experienced supporting hero, who is welcome to any team.'
      })
    %>

    <%- include('../../shared/components/hero/superhero/superhero.ejs', 
      { 
        heroName: 'Black Window',
        quote: 'No one is going to sleep tonight until we\'re done.',
        story: ``,
        imagePath: '../../images/heroes/black-window-hp.png'
      })
    %>
    
    <%- include('../../shared/components/hero/profile/profile.ejs',
      { 
        heroName: 'Black Window',
        placeOfBirth: `Planet Coffeeca`,
        gender: 'Male',
        age: '26',
        occupation: 'Barista',
        likes: 'Dogs, Spiders, Rum',
        height: '183',
        weight: '78',
        hair: 'Light Brown',
        eyes: 'Grey',
        dislikes: 'Noise, Heat, Radish'
      })
    %>


    <%- include('../../shared/components/hero/connections/connections.ejs',
      {
        connectionType: 'Allies',
        heroesList: [`Captain Maven`, `Serverman`, `Web Storm`, `Coffeeman`]
      })
    %>

    <%- include('../../shared/components/hero/contacts/contacts.ejs',
      {
        heroName: 'Black Window',
        social: 
          { linkedIn: 'https://www.linkedin.com/in/mikhail-kostiuk-28a915bb/',
            github: 'https://github.com/mikhail-kostiuk'
          }
      })
    %>
  </body>
</html>
